<%@ Master Language="C#" MasterPageFile="~/HeaderFooterMaster.master" AutoEventWireup="true" CodeFile="UserMasterPage.master.cs" Inherits="PagesUser_UserMasterPage" %>
<asp:Content ID="Content0" ContentPlaceHolderID="HeadTagPlaceholder" Runat="Server">
     <link href="/CSS/UserMaster.css" rel="stylesheet" type="text/css" runat="server" />
    <link href="/CSS/SideNav.css" rel="stylesheet" type="text/css" runat="server" />
        <asp:ContentPlaceHolder ID="UserHeadTagPlaceholder" runat="server">

    </asp:ContentPlaceHolder>
        <style>
        .logoutBtn{
            padding:5px;
            border-radius:5px;
            color:brown;
            float: right;
            font-size: 20px;
            border:none;
            background-color:none;
        }
        .logoutBtn:hover{
            color:red;
             transform: scale(1.01);
        }
        .avLabel{
            float: right;
                padding:10px;
        }

    </style>

</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="HeaderPlaceHolder" runat="Server">
    <div class="container">
        <div class="row">
            <div class="col-6 p-3">
                <h1 class="fontSanSerif">Online Test System</h1>
                
            </div>
            
            <div class="col-6 ">
               
                <button  type="button"  class="logoutBtn mt-4 " onserverclick="BTN_Logout_Click" runat="server" causesvalidation="false"
                    id="BTN_Logout">
                    <span class="fas fa-sign-out-alt"></span>&nbsp;Logout
                </button>
                 <asp:Label CssClass="avLabel mt-4 fontSanSerif" ID="Name_Label" runat="server" Text="" Visible="true"></asp:Label>
            </div>
        </div>
    </div>
    <asp:ContentPlaceHolder ID="UserHeadPlaceholder" runat="server">

    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContentPlaceholder" runat="Server">
       <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <asp:ContentPlaceHolder ID="UserPageContentPlaceholder" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>

