<%@ Master Language="C#" MasterPageFile="~/HeaderFooterMaster.master" AutoEventWireup="true" CodeFile="UserMasterPage.master.cs" Inherits="PagesUser_UserMasterPage" %>
<asp:Content ID="Content0" ContentPlaceHolderID="HeadTagPlaceholder" Runat="Server">
     <link href="/CSS/UserMaster.css" rel="stylesheet" type="text/css" runat="server" />
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="HeaderPlaceHolder" runat="Server">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Online Test System</h1>
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
                <div class="container">
                    <div class="row">
                        <div class="col-6 pt-3 avatar">
                            <asp:Label ID="Name_Label" runat="server" Text=""></asp:Label>
                        </div>
                        <div class="col-6">
                            <asp:Button ID="BTN_Logout" runat="server" Text="Logout" OnClick="BTN_Logout_Click" />
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <asp:ContentPlaceHolder ID="UserHeadPlaceholder" runat="server">

    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContentPlaceholder" runat="Server">
    <asp:ContentPlaceHolder ID="UserPageContentPlaceholder" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>

