<%@ Master Language="C#" MasterPageFile="~/HeaderFooterMaster.master" AutoEventWireup="true" CodeFile="AdminMaster.master.cs" Inherits="PagesAdmin_AdminMaster" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadTagPlaceholder" Runat="Server">
     <link href="/CSS/AdminMaster.css" rel="stylesheet" type="text/css" runat="server" />
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="HeaderPlaceHolder" Runat="Server">
        <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Online Test System</h1>
            </div>
            <div class="col-5">
                <h2>
                <asp:Label ID="Name_Label" runat="server" Text=""></asp:Label>
                    
                </h2>
            </div>
            <div class="col-1">
                <asp:Button ID="BTN_Logout" runat="server" Text="Logout" OnClick="BTN_Logout_Click" />
            </div>
        </div>
    </div>
    <asp:ContentPlaceHolder ID="AdminHeaderPlaceholder" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContentPlaceholder" Runat="Server">
        <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-2 bg-primary card px-3 align-content-center justify-content-center sideNav">
                <div class="row p-3"><a href="AdminPanel.aspx">Home</a></div>
                <div class="row p-3"> <a href="ManageUser.aspx">Manage Users</a></div>      
                <div class="row p-3"><a href="CreateQuestionPaper.aspx">Create Question Paper</a></div>
                <div class="row p-3"><a href="ManageQuestionPaper.aspx">Manage Question Paper</a></div>
                <div class="row p-3"><a href="ShowTestResult.aspx">Show Test Results</a></div>
            </div>
            <div class="col-10 bg-light px-3 py-3">
                <asp:ContentPlaceHolder ID="AdminContentPlaceholder" runat="server">
                
                </asp:ContentPlaceHolder>
            </div>
        </div>
    </div>
</asp:Content>

