<%@ Master Language="C#" AutoEventWireup="true" CodeFile="HeaderFooterMaster.master.cs" Inherits="HeaderFooterMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="CSS/BootStrap.css" rel="stylesheet" />
    <link href="CSS/Colors.css" rel="stylesheet" type="text/css" runat="server" />
    <link href="CSS/Default.css" rel="stylesheet" type="text/css" runat="server" />
    <title></title>
    <style type="text/css">
        .auto-style1 {
            color: #FF0000;
        }
    </style>
</head>
<body class="">
    <form id="form1" runat="server">
        <div class="container-fluid px-1 px-lg-1  mx-auto">
            <div class="bg-header py-3">
                <div class="row px-3">
                    <asp:ContentPlaceHolder ID="HeaderPlaceHolder" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            <div class="card border-0 align-items-center card0 bg-white">
                <asp:ContentPlaceHolder ID="MainContentPlaceholder" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <div class="bg-header py-3">
                <div class="row px-3">
                    <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2020.</small>
                    <div class="social-contact ml-4 ml-sm-auto"><span class="fa fa-facebook mr-4 text-sm"></span><span class="fa fa-google-plus mr-4 text-sm"></span><span class="fa fa-linkedin mr-4 text-sm"></span><span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span></div>
                </div>
            </div>
        </div>
        </div>
    </form>
    <script src="JavaScript/BootStrap5.js"></script>
</body>
</html>
