body {
    background-color: #35344d;
}
.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

.btn-blue:hover {
        background-color: #00ffff;
        cursor: pointer
    }

.bg-blue {
    color: #fff;
    background-color: #1A237E
}
.bg-header {
    background-color: #aecdd6;
}
