body {
    background-color: #4b4276;
}
.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

.btn-blue:hover {
        background-color: #00ffff;
        cursor: pointer
    }

.bg-blue {
    color: #fff;
    background-color: #1A237E
}
.bg-header {
    background-color: #4b4276;
}
.headWhite{
    color:white;
}
.headerColor {
    background-color: #4b4276;
    color: white;
}
