body {
    background-color: #35344d;
}
.line {
    height: 1px;
    width: 100%;
    background-color: #E0E0E0;
    margin-top: 10px
}
.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px
}
.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

    .btn-blue:hover {
        background-color: #00ffff;
        cursor: pointer
    }
